body {
  position: absolute;
  inset: 0;
  margin: 0;
  /* min-width: 360px; */
  overflow: hidden;
  /* overflow-x: auto; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  scrollbar-color: gray transparent;
  scrollbar-width: thin;
}
.text-ellipsis {
  white-space: pre-wrap;
  text-wrap: pretty;
  -webkit-line-clamp: 2;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
