body {
  position: absolute;
  inset: 0;
  margin: 0;
  /* min-width: 360px; */
  overflow: hidden;
  /* overflow-x: auto; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  scrollbar-color: gray transparent;
  scrollbar-width: thin;
  overflow-wrap: break-word;
}

a {
  text-decoration: none;
  color: var(--mui-pallette-text-primary);
}

.text-ellipsis {
  white-space: pre-wrap;
  text-wrap: pretty;
  -webkit-line-clamp: 2;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

#Gallery,
#Carousels {
  img {
    transition: filter 0.3s ease-in-out;
  }
}

/* static */
.index-card-media-circle-svg {
  --duration: 3.5s;
  --timing-function: cubic-bezier(0.22, 0.61, 0.36, 1);
  --delay: 0.2s;
}
.index-card-media-circle-svg > circle:first-child {
  fill-opacity: 0.6;
}
.index-card-media-circle-svg > circle:last-child {
  stroke-opacity: 0.6;
  stroke-dasharray: 30;
  stroke-dashoffset: 120;
  scale: 1;
  transform-origin: center;
}

/* index base */
.index-card-media-circle-svg:nth-child(1) {
  transform: rotate(120deg);
}
.index-card-media-circle-svg:nth-child(2) {
  transform: rotate(240deg);
}
.index-card-media-circle-svg:nth-child(3) {
  transform: rotate(360deg);
}

.index-card-media-circle-svg:nth-child(1) > circle:first-child {
  animation: index-card-media-circle-1 var(--duration) infinite
    var(--timing-function) 0s;
}
.index-card-media-circle-svg:nth-child(2) > circle:first-child {
  animation: index-card-media-circle-1 var(--duration) infinite
    var(--timing-function) calc(var(--delay) * 1);
}
.index-card-media-circle-svg:nth-child(3) > circle:first-child {
  animation: index-card-media-circle-1 var(--duration) infinite
    var(--timing-function) calc(var(--delay) * 2);
}

.index-card-media-circle-svg:nth-child(1) > circle:last-child {
  animation: index-card-media-circle-2 var(--duration) infinite
    var(--timing-function) 0s;
}
.index-card-media-circle-svg:nth-child(2) > circle:last-child {
  animation: index-card-media-circle-2 var(--duration) infinite
    var(--timing-function) calc(var(--delay) * 1);
}
.index-card-media-circle-svg:nth-child(3) > circle:last-child {
  animation: index-card-media-circle-2 var(--duration) infinite
    var(--timing-function) calc(var(--delay) * 2);
}

@keyframes index-card-media-circle-1 {
  0% {
    fill-opacity: 0.6;
    translate: 0;
  }
  40% {
    fill-opacity: 1;
    translate: 50%;
  }
  80% {
    fill-opacity: 0.6;
    translate: 0;
  }
}

@keyframes index-card-media-circle-2 {
  0% {
    stroke-dashoffset: 120;
    scale: 1;
    translate: 0;
  }
  40% {
    stroke-dashoffset: 0;
    scale: 1.2;
    translate: 50%;
  }
  80% {
    stroke-dashoffset: 120;
    scale: 1;
    translate: 0;
  }
}

.index-card-media-1-svg {
  --duration: 5.5s;
  --timing-function: ease-in-out;
}
.index-card-media-1-svg > rect {
  stroke: var(--mui-palette-primary-main);
  fill: var(--mui-palette-primary-main);
  stroke-dasharray: 300;
  stroke-dashoffset: 600;
  fill-opacity: 0.2;
  animation: index-card-media-1 var(--duration) infinite var(--timing-function)
    1s;
}

@keyframes index-card-media-1 {
  0% {
    stroke-dashoffset: 600;
    fill-opacity: 0.2;
  }
  50% {
    stroke-dashoffset: 0;
    fill-opacity: 0.5;
  }
  100% {
    stroke-dashoffset: -600;
    fill-opacity: 0.2;
  }
}

.index-card-media-2-svg {
  --duration: 5.5s;
  --timing-function: ease-in-out;
}
.index-card-media-2-svg > path:last-child {
  stroke: var(--mui-palette-primary-main);
  fill: var(--mui-palette-primary-main);
  fill-opacity: 0.2;
  stroke-dasharray: 0 1000;
  stroke-width: 5;
  animation: index-card-media-2 var(--duration) infinite var(--timing-function)
    1s;
}
.index-card-media-2-svg > path:nth-child(2) {
  stroke: var(--mui-palette-primary-main);
  stroke-dasharray: 15;
  stroke-width: 10;
  stroke-linecap: round;
  animation: index-card-media-2-2 1.5s infinite linear 1s;
}

@keyframes index-card-media-2 {
  0% {
    fill-opacity: 0.2;
    stroke-dasharray: 0 1000;
  }
  40% {
    stroke-dasharray: 1000 0;
    fill-opacity: 0.5;
  }
  80% {
    fill-opacity: 0.2;
    stroke-dasharray: 0 1000;
  }
}
@keyframes index-card-media-2-2 {
  0% {
    stroke-dashoffset: 15;
  }
  100% {
    stroke-dashoffset: -15;
  }
}

.index-card-media-3-svg {
  --duration: 5.5s;
  --timing-function: ease-in-out;
  --delay: 0.2s;
}
.index-card-media-3-svg .icon {
  stroke: white;
  stroke-opacity: 0.4;
  stroke-dasharray: 150;
  stroke-dashoffset: 300;
  fill: white;
  fill-opacity: 0.1;
  animation: index-card-media-3-icon var(--duration) infinite
    var(--timing-function) var(--delay);
}
.index-card-media-3-svg .text {
  stroke: white;
  stroke-opacity: 0;
  stroke-dasharray: 100;
  fill: white;
  fill-opacity: 0.4;
  animation: index-card-media-3-text var(--duration) infinite
    var(--timing-function) var(--delay);
}

@keyframes index-card-media-3-icon {
  0% {
    stroke-dashoffset: 300;
    fill-opacity: 0.1;
  }
  50% {
    stroke-dashoffset: 0;
    fill-opacity: 0;
  }
  100% {
    stroke-dashoffset: 300;
    fill-opacity: 0.1;
  }
}
@keyframes index-card-media-3-text {
  0% {
    stroke-dasharray: 100;
    stroke-opacity: 0;
    fill-opacity: 0.4;
  }
  50% {
    stroke-dasharray: 1000;
    stroke-opacity: 0.4;
    fill-opacity: 0.1;
  }
  100% {
    stroke-dasharray: 100;
    stroke-opacity: 0;
    fill-opacity: 0.4;
  }
}

.index-card-media-4-svg {
  --duration: 5.5s;
  --timing-function: ease-in-out;
  --delay: 0.2s;
}
.index-card-media-4-svg > path {
  stroke: var(--mui-palette-secondary-main);
  fill: var(--mui-palette-secondary-main);
  stroke-linecap: round;
  stroke-dasharray: 1000 0;
  fill-opacity: 0.1;
  animation: index-card-media-4-svg var(--duration) infinite
    var(--timing-function) var(--delay);
}

@keyframes index-card-media-4-svg {
  0% {
    stroke-dasharray: 1000 0;
    fill-opacity: 0.1;
  }
  40% {
    stroke-dasharray: 0 1000;
    fill-opacity: 0.75;
  }
  80% {
    stroke-dasharray: 1000 0;
    fill-opacity: 0.1;
  }
}
